.TearmAndCondition-fullPage{
    border:2px solid yellow;
    margin:0.5rem;
    padding: 0.5rem;
}

.TearmAndCondition-heading{
    border:2px solid orangered;
    margin:0.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-size: bold;
    line-height: 2rem;
}

.TearmAndCondition-para{
    border:2px solid green;
    margin:0.5rem;
    padding: 0.5rem;

}
.TearmAndCondition-sub-para{
    border:2px solid navy;
    margin:0.5rem;
    padding: 0.5rem;
    

}