/* CourseList.module.css */

.courseListContainer {
    /* max-width: 800px; */
    /* margin: 20px auto; */
  }
  
  .courseTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .courseTable th, .courseTable td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .courseTable th {
    background-color: #f2f2f2;
  }
  