.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  width: 47%;
  height: 10rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  overflow-y: hidden;
  margin: 15% 25%;
}
.heading_container {
  display: flex;
  width: 100%;
}
.heading {
  margin-left: 36%;
  font-size: 16px;
  font-weight: bold;
  line-height: 40px;
}

.input-copy-container {
  display: flex;
  width: 45%;
  margin-left: 10%;
}

.text_input {
  margin-bottom: 10px;
  padding: 5px;
  line-height: 35px;
  width: 100%;
}

.copyButton {
  margin-bottom: 10px;
  padding: 5px 15px;
  background-color: black;
  color: white;
}

.showcopyButton {
  width: 4rem;
  font-size: 12px;
  font-weight: bold;
  color: green;
}

.shareButtons {
  display: flex;
  justify-content: center;
}

.shareButton {
  margin: 0 5px;
  padding: 5px 10px;
  background-color: black;
  color: #fff;
  text-decoration: none;
  border-radius: 50%;
}
.container {
  position: relative;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  overflow: hidden;
}

.content {
  overflow: hidden;
}
.close_icon {
  margin-left: 38%;
  margin-top: 1%;
}
