.AddCourseContent-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .AddCourseContent-section {
    flex: 1;
    margin-right: 20px;
  }
  
  .AddCourseContent-section-header {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  /* Apply individual styles to each component if necessary */
  
  .VideoUploadForm-container,
  .PdfUploadForm-container,
  .AddChapter-container,
  .AddTopicForm-container {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
  }
  
  .VideoUploadForm-container h2,
  .PdfUploadForm-container h2,
  .AddChapter-container h2,
  .AddTopicForm-container h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
