<<<<<<< HEAD
.topic-form {
    max-width: 600px;
=======
.container {
    max-width: 400px;
>>>>>>> bc38ad3a6b7ddde425984e296eed7064852f45f8
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
<<<<<<< HEAD
  .topic-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .topic-form select,
  .topic-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .topic-form button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .topic-form button:hover {
    background-color: #0056b3;
  }
  
=======
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  select,
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
>>>>>>> bc38ad3a6b7ddde425984e296eed7064852f45f8
