.ShowContainer {
  padding: 20px;
}

.selectLabel {
  display: block;
  margin-bottom: 10px;
}

.selectInput {
  margin-top: 5px;
}

.chapterContainer {
  margin-top: 20px;
}

.ShowChapter {
  margin-bottom: 20px;
}

.ShowChapterTitle,
.topicItem {
  margin: 10px 0;
}

.topicTitle {
  display: flex;
  align-items: center;
}

.ShowEditLink,
.ShowDeleteBTN {
  margin-left: 10px;
  cursor: pointer;
}
