.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .inputContainer {
    margin-bottom: 20px;
  }
  
  .container label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .inputField {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
  }
  
  .quillContainer .ql-container {
    height: 150px;
  }
  
  .dropzoneContainer {
    background-color: #f0f0f0;
    border: 2px dashed #cccccc;
    border-radius: 4px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
  }
  
  .dropzoneText {
    margin: 0;
    font-weight: normal;
  }
  
  .imagePreviewContainer {
    text-align: center;
    margin-top: 10px;
  }
  
  .imagePreview {
    max-width: 200px;
    border-radius: 4px;
  }
  
  .submitButton {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submitButton:disabled {
    background-color: #cccccc;
  }


  .toolbar button {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 4px;
    padding: 6px 8px;
    display: inline-flex;
    align-items: center; 
    justify-content: center; 
  }
  
  .toolbar button:hover {
    background-color: #e2e2e2;
  }
  
  .toolbar button:active {
    background-color: #d4d4d4;
    outline: none;
  }
  
  .toolbar button:focus {
    outline: none;
    box-shadow: 0 0 0 2px #a4a4a4;
  }
  
  .editorContainer {
    border: 1px solid #ccc;
    padding: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  
  
