.Notification-fullPage{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.Notification-Heading{
    font-size: 2rem;
    line-height: 2.5rem;
    margin: 0.5rem;
    padding: 0.5rem;
}
.Instructor-Student-div{
    display: flex;
    flex-wrap: wrap;
    margin: 0.5rem;
    padding: 0.5rem;
    align-items: center;

}
.InstructorDiv{
    font-size: 16px;
    line-height: 30px;
}

.margin{
    margin-left: 2rem;
}

.InstructorDiv:hover{
font-weight: bold;
text-decoration: underline;
}

.main-notification{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0.5rem;
    padding: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.Student-message-div{

    display: flex;
    align-items: center;
    margin: 0.5rem;
    padding: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    gap: 1rem;


}

.image-div{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: cadetblue;
    border: 1px solid  black;
}

.notification-image{
    width:100%;
    height:100%;
}