/* CartPage.module.css */

.cartPageContainer {
    font-family: Arial, sans-serif;
  }
  
  .emptyCartContainer {
    text-align: center;
    padding: 20px;
  }

  .cartHeader-info-div{
  padding-left: 1rem;
  }
  
  .cart-total-Container{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

  .cartItem-container{
    width: 55%;
    padding: 0.5rem;
  }
  
  .cartHeader {
    font-size: 24px;
    font-weight: bold;
  }
  
  .cartInfo {
    margin-top: 10px;
    font-weight: bold;
  }
  
  .cartItem {
    margin-top: 20px;
    display: flex;
    align-items: center;
  }
  
  .courseImage{
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .itemDetails{
    flex: 1;
  }
  .itemActions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .cartTotal {
    margin-top: 20px;
    font-weight: bold;
    border: 1px solid black;
    width: 35%;
    text-align: center;
    padding: 0.5rem;
  }
  
  .checkoutButton {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .promotions {
    margin-top: 10px;
    font-weight: bold;
  }
  
  .applyButton {
    padding: 5px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .alsoLikeHeader {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
  }