.courseListContainer {
  padding: 20px;
  background-color: #f0f2f5; 
  min-height: 100vh; 
}

.courseTable {
  width: 100%;
  border-collapse: collapse; 
  margin-top: 20px; 
}

.courseTable th, .courseTable td {
  text-align: left;
  padding: 8px; 
  border: 1px solid #ddd;
}

.courseTable th {
  background-color: #007bff; 
  color: white; 
}

.courseTable tr:nth-child(even) {
  background-color: #f2f2f2; 
}


.courseTable .DeleteBTN, .courseTable .editLink {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px; 
}

.courseTable .DeleteBTN {
  background-color: #ff4d4f; 
  color: white; 
}

.courseTable .editLink {
  background-color: #4CAF50; 
  color: white; 
}


.searchBar {
  padding: 10px 15px;
  width: 100%;
  max-width: 500px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  margin-bottom: 20px;
  text-align: center; 
}
