.seekbar {
  position: relative;
  height: 12px;
  overflow: hidden;
}

.seekbar input[type="range"] {
  width: 100%;
  height: 100%;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
}

.seekbar .rangeInput {
  position: relative;
  z-index: 1;
}

.seekbar .progress {
  height: 100%;
  background: linear-gradient(to right, purple 0%, purple 100%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2; 
}

.seekbar input[type="range"]:focus::-webkit-slider-thumb {
 box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);
}

.seekbar input[type="range"]::-webkit-slider-thumb {
  width: 0;
  height: 0;
  visibility: hidden;
}

.seekBarContainer {
  background-color: #ddd; 
  width: 100%; 
  box-sizing: border-box; 
}

.seekbar {
  position: relative; 
}

.rangeInput {
  width: 100%; 
  cursor: pointer; 
 
}

/* .progress {
  position: absolute;
  height: 5px; 
  background-color: #4caf50; 
  bottom: 0; 
  left: 0;
} */


.bufferedBar {
  position: absolute;
  height: 100%;
  background-color: #747171 ; 
  z-index: 1;
}
