.settingsContainer {
  position: absolute;
  right: 106px;
  top: 21px;
  z-index: 10;
}

.settingsIcon {
  color: #fff;
  cursor: pointer;
}

.settingsDropdown {
  position: absolute;
  bottom: 53px;
  background-color: #333;
  border: 1px solid #474747;
  border-radius: 4px;
  width: 116px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 3;
}

.qualityOption {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.qualityOption:hover,
.qualityOption.active {
  background-color: #555;
}

.active {
  background-color: #666;
}
