.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fcf6f6;
  padding: 11px;
  width: 100%;
  height: 5rem;
}
.logo {
  width: 10%;
}
.logo img {
  width: 100%;
  height: auto;
}

.searchBar {
  width: 100%;
  background: #fcf6f6;
}
.playStore_icon {
  border: none;
  background-color: transparent;
}
.Playstore_btn {
  border: none;
  background-color: transparent;
}
.playStore_image {
  border: none;
  margin-left: 225%;
  background-color: transparent;
}
.Playstore_description {
  position: absolute;
  font-size: 13px;
  right: 387px;
  color: black;
}

.unorderedlist {
  display: flex;
  list-style: none;
}
.list12:not(:last-child) {
  margin-right: 10px;
}

.nav1 {
  width: 50%;
  margin-left: -8%;
}
.list12 {
  margin-top: 1%;
}
.playstorelist {
  margin-left: 51%;
  margin-top: 2%;
}
.mycourse {
  margin-top: 1%;
  color: black;
  font-weight: 400;
  font-size: 1.05rem;
}
.category {
  font-weight: 400;
  font-size: 1.05rem;
  margin-top: 11%;
}

.unorderedlist {
  list-style: none;
  padding: 0;
}

.list12 {
  display: inline-block;
  margin-right: 14px;
}

.link7 .active::after {
  content: "";
  position: absolute;
  border-bottom-style: solid;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #f9f9f9;
}

@media (max-width: 767px) {
  .searchBar,
  .nav {
    display: none;
  }

  .header {
    flex-direction: column;
    padding: 10px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .searchBox {
    margin-right: 10px;
  }
}

@media (min-width: 992px) {
  .header {
    padding: 0px;
  }

  .searchBox {
    margin-right: 20px;
  }
}
