.Tools-fullPage{
    padding:10rem;
}

.heading{
    font-size: 25px;
    font-weight: bold;
    line-height: 60px;
}
.Main-Body{
    display: flex;
    gap: 4rem;
}
.Body-part-01{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    width: 20rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;

}

.tools-Para{
    font-size: 12px;
    line-height: 30px;
}